<div class="card">
    <div class="card-body">
        <h5 class="card-title">Cadastro de Clientes</h5>
        <h6 class="card-subtitle mb-2 text-muted">Preencha o formulário para cadastrar clientes</h6>
        <hr>

        <form>

            <div class="row">
                <div class="col-md-6">
                    <label>Nome do Cliente:</label>
                    <input type="text" class="form-control"
                        placeholder="Ex: João da Silva"/>
                </div>
                <div class="col-md-6">
                    <label>Email do Cliente:</label>
                    <input type="text" class="form-control"
                        placeholder="Ex: joaodasilva@gmail.com"/>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-12">

                    <button type="submit" class="btn btn-success">
                        Realizar Cadastro     
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-outline-secondary">
                        Cancelar
                    </button>

                </div>
            </div>

        </form>
        
      </div>
</div>
