<div class="card">
    <div class="card-body">
        <h5 class="card-title">Relatório de Clientes</h5>
        <h6 class="card-subtitle mb-2 text-muted">Selecione o período para gerar o relatório</h6>
        <hr>

        <form>

            <div class="row">
                <div class="col-md-3">
                    <label>Data de início:</label>
                    <input type="date" class="form-control"/>
                </div>
                <div class="col-md-3">
                    <label>Data de término:</label>
                    <input type="date" class="form-control"/>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-md-12">

                    <button type="submit" class="btn btn-success">
                        Gerar Relatório
                    </button>
                    &nbsp;
                    <button type="button" class="btn btn-outline-secondary">
                        Cancelar
                    </button>

                </div>
            </div>

        </form>
        
      </div>
</div>
